<div data-ng-controller="CadastroClienteController as vm" layout="column" class="md-inline-form">
    <h2>Cadastro de Clientes</h2>

    <md-content layout-padding>
        <div>
            <form name="clienteForm" ng-submit="vm.salvarCliente()">
                <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Nome</label>
                        <input ng-model="vm.cliente.nome">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-xs>
                        <label>CPF</label>
                        <input ng-model="vm.cliente.cpf">
                      </md-input-container>

                      <md-input-container>
                        <label>Data de Nascimento</label>
                        <md-datepicker ng-model="vm.cliente.dataNascimento"></md-datepicker>
                      </md-input-container>
                </div>

                <div layout-gt-xs="row" layout-wrap>
                    <md-button md-no-ink class="md-primary" ng-click="vm.irParaPesquisa()">Cancelar</md-button>
                    <md-button type="submit" class="md-raised md-primary">Salvar</md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>