<div data-ng-controller="PesquisaClienteController as vm">
    <h2>Pesquisa de Clientes</h2>
    
    <md-table-container>
        <table md-table md-row-select ng-model="vm.clientesSelecionados" md-progress="vm.promiseListarClientes">
            <thead md-head>
                <tr md-row>
                    <th md-column>Nome</th>
                    <th md-column>CPF</th>
                    <th md-column>Data de Nascimento</th>
                </tr>
            </thead>
            <tbody md-body>
                 <tr md-row md-select="cliente" md-select-id="id" md-auto-select ng-repeat="cliente in vm.clientes">
                    <td md-cell>{{cliente.nome}}</td>
                    <td md-cell>{{cliente.cpf}}</td>
                    <td md-cell>{{cliente.dataNascimento | date:'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <data-senai-grid id="gridClientes" 
        provider="vm.clientes" 
        enable-selection="true"
        row-class="info">
        <data-senai-grid-column property="nome">
            Nome
        </data-senai-grid-column>
        <data-senai-grid-column property="cpf">
            CPF
        </data-senai-grid-column>
    </data-senai-grid>
</div>